/* app.scss (o tu archivo de estilos principal) */

ion-header.toolbar-custom-color {
    --ion-color-primary: #085c7c; /* Cambia el color del texto si es necesario */
  }
  
  .admin {
    color: #ffffff; /* Color del texto dentro de la barra de herramientas */
    font-size: 13px;
}