<ion-content class="center-content">
  <ion-grid>
    <ion-row class="button-row">
      <ion-col size="12" class="button-col">
        <ion-button id="open-modal" mode="ios" expand="block" (click)="openCreateModal()" class="custom-button">Crear un checklist</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="button-row">
      <ion-col size="12" class="button-col">
        <ion-button id="update-modal" mode="ios" expand="block" (click)="openUpdateModal()" class="custom-button">Actualizar un checklist</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="button-row">
      <ion-col size="12" class="button-col">
        <ion-button id="maquinaria" mode="ios" expand="block" (click)="navigateTo('crear-maquina')" class="custom-button">Maquinaria</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Aquí se define el modal -->
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>{{ isUpdate ? 'Actualizar Checklist' : 'Crear Checklist' }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">{{ isUpdate ? 'Actualizar' : 'Guardar' }}</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form (ngSubmit)="submitChecklist()">
          <ion-item>
            <ion-label>Tipo de Máquina</ion-label>
            <ion-select [(ngModel)]="selectedMachineType" name="machineType">
              <ion-select-option *ngFor="let type of machineTypes" [value]="type">{{ type }}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Asignar a</ion-label>
            <ion-select [(ngModel)]="assignmentType" name="assignmentType">
              <ion-select-option value="code">Código Interno</ion-select-option>
            </ion-select>
          </ion-item>
          
          <!-- Corrección: La etiqueta </ion-item> debe estar en la posición correcta -->
          <ion-item *ngIf="assignmentType === 'code'">
            <ion-label>Código Interno</ion-label>
            <ion-input [(ngModel)]="code" name="code" placeholder="Ingrese el código interno"></ion-input>
          </ion-item>
          <ion-item *ngIf="assignmentType === 'code'">
            <ion-label>Código Interno</ion-label>
            <ion-input [(ngModel)]="code" name="code" placeholder="Ingrese el código interno"></ion-input>
          </ion-item>
          <div *ngFor="let component of componentes; let i = index">
            <ion-item>
              <ion-input
                placeholder="Nombre del Componente"
                [(ngModel)]="component.nombre"
                name="componentName{{i}}"
              ></ion-input>
            </ion-item>
            <div *ngIf="componentes[i].tasks.length > 0">
              <div *ngFor="let task of component.tasks; let j = index">
                <ion-item>
                  <ion-input
                    placeholder="Nombre de la Tarea"
                    [(ngModel)]="task.nombre"
                    name="taskName{{i}}{{j}}"
                  ></ion-input>
                  <ion-button color="danger" (click)="removeTask(i, j)">Eliminar Tarea</ion-button>
                </ion-item>
              </div>
            </div>
            <ion-button (click)="addTask(i)">Agregar Tarea</ion-button>
            <ion-button color="danger" (click)="removeComponent(i)">Eliminar Componente</ion-button>
          </div>
          <ion-button (click)="addComponent()">Agregar Componente</ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
