<ion-header>
  <ion-toolbar>
    <ion-title class="custom-toolbar-title">Actualizar y Editar Checklist</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- Barra de carga indeterminada -->
  <ion-progress-bar *ngIf="isLoading" type="indeterminate" color="primary" class="custom-progress-bar"></ion-progress-bar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="search-container">
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card class="search-card">
          <ion-card-header>
            <ion-card-title>Buscar máquina</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="full">
              <ion-input type="text" [(ngModel)]="searchQuery" (ionInput)="filterMaquinas($event)" placeholder="Codigo Interno"></ion-input>
            </ion-item>
            <ion-list *ngIf="filteredMaquinas.length > 0">
              <ion-item *ngFor="let maquina of filteredMaquinas" (click)="selectMaquina(maquina.codigo_interno)">
                {{ maquina.codigo_interno }}
              </ion-item>
            </ion-list>
            <ion-button expand="block" class="orange-button" (click)="searchMachine()">Buscar</ion-button>
            <ion-text *ngIf="errorBusqueda" color="danger" class="ion-padding-start">
              No se encontró ninguna máquina con el código proporcionado.
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <!-- Mostrar la información del checklist -->
    <ion-row *ngIf="checklist">
      <ion-col size="12">
        <ion-card class="custom-card">
          <ion-card-header>
            <ion-card-title>Formulario para Actualizar Checklist</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-list lines="none">
              <ion-item lines="full">
                <ion-label position="stacked">Nombre:</ion-label>
                <ion-input [(ngModel)]="checklist.nombre"></ion-input>
              </ion-item>
              <ion-item lines="full">
                <ion-label position="stacked">Tipo de Máquina:</ion-label>
                <ion-select [(ngModel)]="selectedMachineType">
                  <ion-select-option *ngFor="let machineType of machineTypes" [value]="machineType.id">{{ machineType.name }}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>

            <!-- Lista de componentes -->
            <ion-list lines="full">
              <ion-list-header lines="full" class="ion-text-center">
                Componentes y Tareas:
              </ion-list-header>

              <!-- Iterar sobre los componentes -->
              <ion-item *ngFor="let component of components; let i = index" lines="full">
                <ion-label position="stacked">Componente:</ion-label>
                <ion-input [(ngModel)]="component.nombre"></ion-input>

                <!-- Lista de tareas del componente -->
                <ion-list-header lines="full" class="ion-text-center">
                  Tareas:
                </ion-list-header>

                <!-- Iterar sobre las tareas del componente -->
                <ion-item *ngFor="let task of component.tasks; let j = index" lines="full">
                  <ion-input [(ngModel)]="task.nombre"></ion-input>
                  <ion-button fill="clear" color="danger" slot="end" (click)="removeTask(i, j)">
                    <ion-icon name="close-circle-outline"></ion-icon>
                  </ion-button>
                </ion-item>

                <!-- Formulario para agregar una nueva tarea -->
                <ion-item lines="none">
                  <ion-input placeholder="Nueva Tarea" [(ngModel)]="newTaskName[i]"></ion-input>
                  <ion-button expand="block" (click)="addTask(i)">Agregar</ion-button>
                </ion-item>
                
                <!-- Botones para eliminar componente -->
                <ion-button expand="block" color="danger" (click)="removeComponent(i)">Eliminar Componente</ion-button>
              </ion-item>
            </ion-list>

            <ion-button expand="block" (click)="addComponent()">Agregar Componente</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Botón de guardar cambios -->
    <ion-row *ngIf="checklist">
      <ion-col size="12">
        <ion-button class="save-button" expand="block" fill="solid" color="primary" (click)="saveChanges()">Guardar Cambios</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
